h1{
	background-color: black;
	color:white;
}


.flix {
	display: flex;
	justify-content: space-between;
	width: 100%;
	
}
.flex {
	width: 450px;
	background-color: silver;
	margin-left: 15px;
	margin-right: 15px;
	flex-wrap: wrap;
}
footer{
	background-color: gray;
}
select {
    font-size: .9rem;
    padding: 2px 5px;
}
.titre{
	display: flex;
	
}