h1{
	background-color: black;
	color:white;
}


.flex {
	display: flex;
	justify-content: space-between;

	
}
.flex div{
	width: 450px;

	border: solid 1px black;
	background-color: silver;
}
footer{
	background-color: gray;
}